{% extends 'base.html.twig' %}
{% block title %}Villes | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container">
        <div class="row">
            <div class="col-lg-9 p-2">
                <p>{{ controller_name }}</p>
            </div>
        </div>

    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
