{% extends 'base.html.twig' %}
{% block title %}Sites | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container">
        <h3 class="text-center py-3">Gérer les sites</h3>
        <h5>Filtrer les sites</h5>
        <form>
            <div class="row">
                <div class="form-group py-3 ps-3">
                    <label for="citySearch" class="align-middle">Le nom contient :</label>
                    <input type="text" id="citySearch" class="align-middle">
                    <button class="btn btn-primary btn-sm" type="submit">Rechercher</button>
                </div>
            </div>
        </form>
        <div class="row">
            <table class="table table-hover">
                <tbody>
                <tr class="table-primary">
                    <td class="table-primary text-center">Ville</td>
                    <td class="table-primary text-center">Actions</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
