{% extends 'base.html.twig' %}
{% block title %}Gérer les villes | Sortir.com{% endblock %}
{% block body %}
    {{ include('utils/header.html.twig') }}

    <div class="container">
       {{ dump(sortie) }}
    </div>

    {{ include('utils/footer.html.twig') }}
{% endblock %}
