.tableFixHead          { overflow: auto; height: 250px; }
.tableFixHead thead th { position: sticky; top: 0; z-index: 1; }

.tableFixHeadCity          { overflow: auto; height: 350px; }
.tableFixHeadCity  thead th { position: sticky; top: 0; z-index: 1; }

.tableFixHeadSortie          { overflow: auto; height: 100px; }
.tableFixHeadSortie  thead th { position: sticky; top: 0; z-index: 1; }

table  { border-collapse: collapse; width: 100%; }
th, td { padding: 8px 16px; }

body{ min-height: 80vh; }